*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px;
    border-radius: 50%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    display: flex;
    width: 50%;
    /* sbackground-color: black; */
    align-items: center;
    justify-content: center;

}
.nav-list li{
    padding: 20px 30px;
    list-style: none;
    
    
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    
    color: grey;
}

.rightNav{
    /* background-color: blueviolet; */
    width: 50%;
    text-align: right;
    padding: 0px 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 6px;
}
.background{
    background: rgb(0,0,0,0.7) url('image/2.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;

}
.secondHalf img{
    width: 70%;
    border: 4px solid white;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 30px;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.Left{
    flex-direction: row-reverse;
}
.peras{
    padding: 0px 65spx;
}
.sectionTag{
    padding: 16px 0;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    width: 250px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 10px;

}
.contact{
   height: 34vh;
    background-color: orange;

    
}
.contact{
    
}
.text-center{
    text-align: center;
}
.form{
    max-width: 500px;
    margin: 42px auto;
}
.form input{
    margin: 3px 0;
    width: 100%;
    padding: 5px 3px;
    font-size: 19px;
    border:2px solid grey ;
    border-radius: 6px;
}


